


<div class= "bio">
	<h3 class="education">Education</h3>

		<p> New York Code and Design Academy: Web Development Intensive. November 2016- February 2017.</p>

		<p> Pennsylvania State University: Bachelor of Arts: Labor and Industrial Relations. 2005</p> 

	<h3>Skills</h3>

		<p> Ruby on Rails, Sinatra, JavaScript, JQuery, Sass, Bootstrap, CSS, HTML, 
			Git, Github </p>

</div>

