







<div class="center jumbotron">
  <div class="container">
    

  </div>
</div>
<h2 class = "banner animated fadeInLeft">Ryan J. Courtney</h2>
 
<div>
	<ul class= "social-icons" style= "font-size: 44px; list-style-type: none; text-align: center;">
	  <li style= "display: inline;"><i class="fa fa-facebook-square"></i></li>
      <li style= "display: inline;"><i class="fa fa-github"></i></li>
    </ul>
</div>      