







<div class="center jumbotron">
  <div class="container">
    

  </div>
</div>
<h2 class = "banner animated fadeInLeft">Ryan J. Courtney</h2>
 
<div>
	<ul class= "social-icons" style= "font-size: 44px; list-style-type: none; text-align: center;">
	  <li style= "display: inline;"><a href= "https://www.facebook.com/ryan.courtney3"><i class="fa fa-facebook-square"></i></li></a>

      <li style= "display: inline; "><a href= "https://github.com/Rcourtney100"><i class="fa fa-github"></i></li></a>
    </ul>
</div>      