// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-nav {
	background-color: #000066;
}

body {
	background-color: #00688B !important;
} 


.jumbotron {

  background-image: url(IMG_1314.jpg);
  background-size: cover;
  margin-top: 200px !important;
  margin: 0 auto;
  border-radius: 60px;
  height: 350px;
  width: 350px;

}